/**,
::before,
::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

label{
  font-size: 20px;
}

html,
body{
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage{
  background-color: #fff;
  padding: 32px 42px;
  border-radius: 10px;
  width:100%;
  box-shadow: 8px 8px 24px 0px rgba(66,68,90,1);

}

.loginPage > h1 {
  margin-bottom: 20px;
}

.loginPage > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.loginPage div{
  display: flex;
  flex-direction: column;
}

.loginPage input{
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.loginPage input::placeholder{
  font-size: 12px;
  font-style: italic;
}

button{
  background-color: purple;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
}*/